.card{
    background-color: linear-gradient(to left, rgb(48, 103, 147), rgb(187, 222, 251));
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    background: linear-gradient(to left, rgb(48, 103, 147), rgb(187, 222, 251));
    color: #D4AF37;
    min-height: 100vh;
  }
  